.menu-container {
  display: flex;
}

.menu-sidebar {
  width: 20%;
  background-color: #f5f5f5;
  padding: 20px;
}

.menu-sidebar ul {
  list-style-type: none;
  padding: 0;
}

.menu-sidebar ul li {
  padding: 10px 0;
}

.menu-sidebar ul li a {
  text-decoration: none;
  color: #333;
}

.menu-content {
  width: 80%;
  padding: 20px;
}

.menu-item {
  margin-bottom: 20px;
}

.menu-item h2 {
  color: #333;
}

.menu-item p {
  color: #666;
}

.menu-item img {
  width: 100%;
  height: auto;
}

.circle-img {
    border-radius: 50%; /* This will make the image circular */
    width: 200px; /* Adjust the width as per your requirement */
    height: 200px; /* Adjust the height as per your requirement */
}

