body {
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
}

/*Header*/
header {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: #f1efeb;
}

.logo {
    color: #560028;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    display: center;
}

.logo img {
    max-height: 40px; /* Adjust the height as needed */
    width: auto;
}

.logo-text {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

nav {
    display: flex;
    align-items: center;
}


.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    margin-left: auto;
}


.nav-links li {
    margin-left: 1rem;
}

.nav-links a {
    color: #560028;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
}

/*slider*/
.slider {
  width: 100%;
  height: 600px; /* Adjust the height as needed */
  position: relative;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.slider-button:hover {
  opacity: 1;
}

.prev {
  left: 1rem;
}

.next {
  right: 1rem;
}


/**/
.hero {
    background-image: url('Images/background.webp');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    color: black;
    text-align: center;
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 0.5rem;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.cta-button {
    background-color: #f04e23;
    color: white;
    text-decoration: none;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 5px;
}

.section {
    padding: 3rem;
    text-align: center;
}

.section h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.section p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.menu-item {
    max-width: 300px;
    background-color: #f5f5f5;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.menu-item h3 {
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
}

.menu-item p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.menu-item img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

/* about us section  */
.about-us {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  max-width: 1200px;
  margin: 0 auto;
}


.about-us-text {
  flex: 1;
  padding-right: 2rem;
}

.about-us-text h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about-us-text p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.about-us-btn {
  display: inline-block;
  background-color: #ff5a5f; /* Change the background color as needed */
  color: #ffffff;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
}

.about-us-text {
    color: #560028;
  flex: 1;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

.about-us-image {
  flex: 1;
  padding-left: 2rem;
  padding-bottom: 1rem;
}

.about-us-image img {
  width: auto;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

/*Follow us section*/
.follow-us {
  text-align: center;
  padding: 2rem 0;
}

.follow-us h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  display: inline-block;
  margin: 0 0.5rem;
  color: #666; /* Change the icon color as needed */
  font-size: 1.5rem;
  transition: color 0.3s;
}

.icon:hover {
  color: #ff5a5f; /* Change the hover color as needed */
  text-decoration: none;
}




/*Footer*/
footer {
  background-color: #f1efeb;
  color: #560028;
  padding: 2rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo img {
  max-height: 60px;
  width: auto;
  margin-bottom: 1rem;
}

.footer-links {
  margin-bottom: 1rem;
}

.footer-links ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.footer-links li {
  margin-left: 1rem;
}

.footer-links a {
  color: #560028;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
}

.footer-legal {
  text-align: center;
  font-size: 0.9rem;
}

.footer-legal a {
  color: #560028;
  text-decoration: none;
}

